{% extends "base.html" %}
{% load custom_filters %}
{% load bangla_filters %}
{% load static %}




{% block body %}


<div class="bbc-q944gg">
                <!-- <section aria-label="বিজ্ঞাপন" aria-hidden="true" role="region" data-e2e="advertisement"
                    class="bbc-13j0x7y">
                    <div id="dotcom-leaderboard" class="dotcom-ad"></div>
                </section> -->
                <main role="main" class="bbc-18yqr0l">
                    <h1 id="content" tabindex="-1" class="bbc-m04vo2"><span role="text"><span lang="en-GB">BBC
                                News</span>, <!-- -->বাংলা<!-- --> - <!-- -->মূলপাতা</span></h1>
                    <div class="bbc-1tzeti0">
                        <div class="bbc-1ajedpd">


                       {% include 'home/hero.html' %}     
  
                       {% include 'home/max_reading_news_for_a_day.html' %}
                       {% include 'home/elected_news.html' %}     
                       {% include 'home/news_section.html' %}     
                       {% include 'home/max_reading_news.html' %}     



</div>
</div>
</main>
</div>


    



{% endblock body %}


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">


