arabic-reshaper
arrow
asgiref
asn1crypto
attrs
bangla
beautifulsoup4
binaryornot
blinker
Brotli
certifi
cffi
chardet
charset-normalizer
click
colorama
coloredlogs
cookiecutter
crispy-bootstrap5
cryptography
cssselect2
dj-rest-auth
Django
django-allauth
django-browser-reload
django-ckeditor
django-cors-headers
django-crispy-forms
django-environ
django-filter
django-jazzmin
django-js-asset
django-tailwind
djangorestframework
djangorestframework_simplejwt
Flask
flatbuffers
fonttools
html5lib
humanfriendly
idna
imageio
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
lazy_loader
llvmlite
lxml
Markdown
markdown-it-py
MarkupSafe
mdurl
MouseInfo
mpmath
mysql-connector-python
networkx
numba
numpy
oauthlib
onnxruntime
opencv-python
opencv-python-headless
oscrypto
packaging
pillow
platformdirs
pooch
protobuf
psycopg2
PyAutoGUI
pycparser
pydyf
pygame
PyGetWindow
Pygments
pyHanko
pyhanko-certvalidator
PyJWT
PyMatting
PyMsgBox
pypdf
pyperclip
pyphen
pyreadline3
PyRect
PyScreeze
python-bidi
python-dateutil
python-decouple
python-dotenv
python-slugify
pytweening
pywhatkit
PyYAML
qrcode
referencing
rembg
reportlab
requests
requests-oauthlib
rich
rpds-py
scikit-image
scipy
six
soupsieve
sqlparse
sslcommerz-lib
svglib
sympy
text-unidecode
tifffile
tinycss2
tinyhtml5
tqdm
types-python-dateutil
typing_extensions
tzdata
tzlocal
uritools
urllib3
weasyprint
webencodings
Werkzeug
wikipedia
xhtml2pdf
zopfli
