<!-- Footer -->
<section class="bg-black w-full py-10">
    <div class="max-w-5xl mx-auto px-4">
        <!-- Footer Links -->
        <div class="flex flex-col md:flex-col md:justify-start items-start gap-6 text-left text-xl text-white mb-6">
            <a href="{% url 'policy_detail' link='institutional' %}" class="hover:text-blue-400 transition">Why you can believe in Awakening</a>
            <a href="{% url 'policy_detail' link='terms' %}" class="hover:text-blue-400 transition">Terms of Use</a>
            <a href="{% url 'policy_detail' link='privacy' %}" class="hover:text-blue-400 transition">Privacy Policy</a>
        </div>

        <!-- Footer Copyright -->
        <p class="text-left text-m text-gray-300 leading-relaxed px-0">
            © 2025 <strong>Chronify</strong>. Chronify is not responsible for the content of external sites.
            <a href="{% url 'policy_detail' link='editorialguidelines' %}" class="text-blue-400 font-medium hover:underline">
                Read about Chronify's perspective on external links.
            </a>
        </p>
    </div>
</section>
